kar-anypointplatform-utilities-api/src/main/mule/kar-apiplatform-utilities-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="kar-apiplatform-utilities-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="kar-apiplatform-utilities-config" raml="kar-apiplatform-utilities.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" keepRamlBaseUri="true" disableValidations="true"/>
    <flow name="kar-apiplatform-utilities-main">
        <http:listener config-ref="kar-apiplatform-utilities-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
		<apikit:router config-ref="kar-apiplatform-utilities-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="0c5ba435-22e7-4906-aa6a-c80c0aa6b313">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[415]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="kar-apiplatform-utilities-console">
        <http:listener config-ref="kar-apiplatform-utilities-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="kar-apiplatform-utilities-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="0272b958-cf5c-4d4b-829e-af248da3b181">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="post:\v1\exchange\create:multipart\form-data:kar-apiplatform-utilities-config">
        <logger level="INFO" message="post:\v1\exchange\create:multipart\form-data:kar-apiplatform-utilities-config" />
        <flow-ref doc:name="publish—exchange-impl-Flow" doc:id="ddc380cb-a2cf-47d1-8d9a-b45b84bb92c2" name="publish—exchange-impl-Flow" />
        <error-handler>
            <on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="1702f55b-deb0-43e5-8b99-6e65994d3e31" type="ANY">
                <ee:transform doc:name="Transform Message" doc:id="5e5e684f-4416-4069-9bd2-78b6d1ca0d27">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"message":error.description
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-continue>
        </error-handler>
    </flow>
    <flow name="get:\v1\exchange\(applicationName):kar-apiplatform-utilities-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="applicationName">attributes.uriParams.applicationName</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="get:\v1\exchange\(applicationName):kar-apiplatform-utilities-config" />
		<error-handler>
			<on-error-continue enableNotifications="true" logException="true" doc:name="Copy_of_On Error Continue" doc:id="0dbf671a-5b93-42aa-9909-768c45a7af5b" type="ANY" >
				<ee:transform doc:name="Copy_of_Transform Message" doc:id="f8101a19-f87c-4996-958d-ff978cda7ff7" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message":error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-continue>
		</error-handler>
    </flow>
    <flow name="get:\v1\application\(applicationName):kar-apiplatform-utilities-config">
        <ee:transform doc:id="a02aefa2-4904-44af-883b-606b1693d9b5">
            <ee:variables>
                <ee:set-variable variableName="applicationName"><![CDATA[attributes.uriParams.applicationName]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
		<set-variable value="#[attributes.queryParams.applicationName]" doc:name="Set Variable" doc:id="69323b83-9f41-42ca-9b70-b74e384e187f" variableName="applicationName"/>
		<logger level="INFO" message="get:\v1\application\(applicationName):kar-apiplatform-utilities-config #[attributes.queryParams.applicationName] " />
		<flow-ref doc:name="get-application-impl-flow" doc:id="5c28bbe6-0785-4f33-927c-0530b2b0e802" name="get-application-impl-flow"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="Copy_of_On Error Continue" doc:id="18298aad-b760-4785-a82e-fd8193485bbb" type="ANY" >
				<ee:transform doc:name="Copy_of_Transform Message" doc:id="4110c11d-a8f1-497b-a93a-127b1ee20443" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message":error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-continue>
		</error-handler>
    </flow>
    <flow name="post:\v1\application\(applicationName)\deploy:multipart\form-data:kar-apiplatform-utilities-config">
        <ee:transform doc:id="1f4944f3-ef82-4d68-b386-cb1c9b40fd26">
            <ee:variables>
                <ee:set-variable variableName="applicationName"><![CDATA[attributes.uriParams.applicationName]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <set-variable value="#[attributes.queryParams.applicationName]" doc:name="Set Variable" doc:id="6b38f950-98cb-4b6b-ae51-3f45b1836709" variableName="applicationName"/>
		<logger level="INFO" message="before deploy #[vars.applicationName]" />
		<flow-ref doc:name="deploy-application-impl-Flow" doc:id="bbbed575-c965-419e-9f3c-e6cb7e9d5e6a" name="deploy-application-impl-Flow"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="Copy_of_Copy_of_On Error Continue" doc:id="da854365-0fec-436e-813c-57057c6e7e90" type="ANY" >
				<ee:transform doc:name="Copy_of_Copy_of_Transform Message" doc:id="bbce4e81-fc40-41fc-adfe-040456bd1781" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message":error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-continue>
		</error-handler>
    </flow>
    <flow name="post:\v1\manage:kar-apiplatform-utilities-config">
        <logger level="INFO" message="post:\v1\manage:kar-apiplatform-utilities-config" />
    </flow>
</mule>
